.leaflet-container {
  margin-top: 3em;
  width: 80vw;
  height: 50vh;
}

.bird_popup,
.leaflet-popup-content-wrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
  img {
    width: 100px;
    height: 100px;
    margin-top: 1em;
  }
}
