.leaflet-container {
  margin: 0 auto;
  width: 80%;
  height: 30em;
  margin-top: 2em;
}

.small-map {
  margin: 0 auto;
  width: 60%;
  height: 30em;
  margin-top: 2em;
}

.leaflet-popup-content-wrapper {
  text-align: center;
  minwidth: 15em;
  minheight: 7em;
}

.leaflet-popup-tip-container {
  visibility: hidden;
}
