    $shadow: 0 13px 26px rgba(#000, .2),
    0 3px 6px rgba(#000, .2);
    .organisationItem {
        position: relative;
        width: 80%;
        margin: 0 auto 1em;
        border-radius: 1em;
        padding: 0;
        box-shadow: $shadow;
        color: black;
        .organisation_item__user,
        small {
            color: rgb(143, 142, 142);
        }
    }
    
    .organisationButton {
        position: absolute;
        right: 2em;
        bottom: 0.5em;
    }
    
    .organisation_item__user {
        // border: solid 1px;
        // margin-top: 1em;
        margin-bottom: 0;
        border-radius: 1em;
        padding: 0.5em;
        // margin: 0.5em;
        background: #f3f3f3;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        & img {
            width: 20px;
            height: 20px;
        }
        ;
        strong {
            font-size: 0.75em;
            margin-left: 0.3em;
        }
    }
    
    .organisationProfile {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        & img {
            border-radius: 1em 1em 0 0;
        }
        .thumbnail {
            width: 100%;
            height: 100%;
            display: flex;
            /* margin-left: auto; */
            /* margin-right: auto; */
            margin-bottom: 1.5em;
            /* box-shadow: 0 13px 26px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 20%); */
            object-fit: contain;
        }
    }
    
    .organisation-item__details {
        padding: 1em;
    }