$shadow: 0 13px 26px rgba(#000, .2),
0 3px 6px rgba(#000, .2);
.postItem {
    position: relative;
    // border: solid 1px rgba(#000, .2);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    box-shadow: $shadow;
    color: black;
    .post_item__user,
    small {
        color: rgb(143, 142, 142);
    }
}

.postButton {
    position: absolute;
    right: 2em;
    bottom: 0.5em;
}

.post_item__user {
    // border: solid 1px;
    // margin-top: 1em;
    margin-bottom: 0;
    border-radius: 1em;
    padding: 0.5em;
    // margin: 0.5em;
    background: #f3f3f3;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    & img {
        width: 20px;
        height: 20px;
    }
    ;
    strong {
        font-size: 0.75em;
        margin-left: 0.3em;
    }
}