.card,
.card__bird-list {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid grey;
    justify-content: center;
    img{
        width: 125px;
    }
    
}

.card__group {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
}

.card__bird-list{
    height: 20em;
    width: 15em;
}